@model FerramentariaTest.Entities.Catalogo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Catalogo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorMetro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorMetro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorAferido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorAferido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorSerial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorSerial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestricaoEmprestimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestricaoEmprestimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpedirDescarte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpedirDescarte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HabilitarDescarteEPI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HabilitarDescarteEPI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeRetornoAutomatico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeRetornoAutomatico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
