@model FerramentariaTest.Entities.EntradaEmLote_Req

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EntradaEmLote_Req</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RFM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RFM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSolicitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSolicitante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRegistro)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="IdFerramentaria" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
