@model FerramentariaTest.Models.CatalogoViewModel

@{
    ViewData["Title"] = "Edit";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4> Deferir </h4>
<hr />

<div class="row">
    <div class="col-md-8">

        <div class="row mb-2">
            <div class="col-sm-3 fw-bold">Catalogo:</div>
            <div class="col-sm-8">

                @if (@Model.CategoriaClasse == 1)
                {
                    <span>Ferramenta</span>
                }
                else if (@Model.CategoriaClasse == 2)
                {
                    <span>EPI</span>
                }
                else if (@Model.CategoriaClasse == 3)
                {
                    <span>Consumíveis</span>
                }
                @* else
                {
                @Html.DisplayFor(modelItem => item.CategoriaClasse)
                }*@
                @*<span class="p-1" name="classe">@Model.CategoriaClasse</span>*@
            </div>
        </div>

        @if (Model.PorMetro == 1)
        {
            <div class="row mb-2">
                <div class="col-sm-3 fw-bold">Controle:</div>
                <div class="col-sm-8">
                    <span class="p-1"> Metro </span>
                </div>
            </div>
        }
        else if (Model.PorAferido == 1)
        {
            <div class="row mb-2">
                <div class="col-sm-3 fw-bold">Controle:</div>
                <div class="col-sm-8">
                    <span class="p-1"> Aferido </span>
                </div>
            </div>
        }
        else if (Model.PorSerial == 1)
        {
            <div class="row mb-2">
                <div class="col-sm-3 fw-bold">Controle:</div>
                <div class="col-sm-8">
                    <span class="p-1"> Serial </span>
                </div>
            </div>
        }
        else
        {
            <div class="row mb-2">
                <div class="col-sm-3 fw-bold">Controle:</div>
                <div class="col-sm-8">
                    <span class="p-1"> Quantidade </span>
                </div>
            </div>
        }

        <div class="row mb-2">
            <div class="col-sm-3 fw-bold">Codigo:</div>
            <div class="col-sm-8">
                <span class="p-1">@Model.Codigo</span>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-3 fw-bold">Item:</div>
            <div class="col-sm-8">
                <span class="p-1">@Model.Nome   </span>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-3 fw-bold"> Quantidade:</div>
            <div class="col-sm-8">
                <span class="p-1"> @ViewBag.QtdObs.Quantidade </span>
            </div>
        </div>


        <div class="row mb-2">
            <div class="col-sm-3 fw-bold"> Observação:</div>
            <div class="col-sm-8">
                <span class="p-1"> @ViewBag.QtdObs.Observacao </span>
            </div>
        </div>


    
    </div>
</div>

@*<a asp-action="Delete">*@

@if (ViewBag.ReqStatus.Status == 5)
{
  
        <button type="button" class="btn btn-danger" disabled> <img src="~/img/x.svg" /> Cancelar</button>

}
else
{
    <a href="javascript:void(0);" onclick="confirmDelete(@ViewBag.QtdObs.IdRequisicao);" data-id="@ViewBag.QtdObs.IdRequisicao">
        <button type="button" class="btn btn-danger"> <img src="~/img/x.svg" /> Cancelar</button>
    </a>
}




@if (Model.PorAferido == 1 || Model.PorSerial == 1)
{
    <button type="button" class="btn btn-warning">
        <img src="~/img/clock.svg" /> Deferir
    </button>
}
else
{
    <button type="button" class="btn btn-warning" disabled>
        <img src="~/img/clock.svg" /> Deferir
    </button>
}


<a asp-action="Index">
    <button type="button" class="btn btn-info"> <img src="~/img/caret-left-fill.svg" style="margin-right: 10px;" /> Back </button>
</a>


<script>

    //function confirmDelete(itemId) {
    //    if (confirm('Are you sure you want to delete this item?')) {
    //        var data = { itemId: itemId };

    //        $.ajax({
    //            type: 'POST',
    //            url: '/EntradaEmLote_Req/DeleteConfirmed?id=' + itemId, // Replace with your actual URL
    //            data: JSON.stringify(data),
    //            contentType: 'application/json; charset=utf-8',
    //            dataType: 'json',
    //            async: true,
    //            Completed: function () {
    //                // Regardless of success or error, navigate to the Index page
    //                window.location.href = '/EntradaEmLote_Req/Index';
    //            }
    //        });
    //    }
    //}

    function confirmDelete(itemId) {
        if (confirm('Are you sure you want to delete this item?')) {
            var data = { itemId: itemId };

            $.ajax({
                type: 'POST',
                url: '/EntradaEmLote_Req/DeleteConfirmed?id=' + itemId, // Replace with your actual URL
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function () {
                    // Success: check if we are on the Index page
                    if (window.location.pathname.toLowerCase().indexOf('/entradaemlote_req/index') !== -1) {
                        // We are on the Index page, indicating success
                        alert('Item deleted successfully.');
                    } else {
                        // Redirect to the Index page
                        window.location.href = '/EntradaEmLote_Req/Index';
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Error: display the error message or handle it as needed
                    console.error(xhr.responseText);
                    alert('An error occurred while deleting the EntradaEmLote_Req item: ' + errorThrown);
                }
            });
        }
    }



</script>


